@import "variables";
@import "mixins";

.container {
  max-width: 962px;
  padding: 0 1rem;
  margin: 0 auto;
}

.link {
  @include transition;

  &:hover {
    color: $primary-dark;
  }
}

.btn {
  @include transition;

  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  font-weight: 600;

  &--primary {
    @extend .btn;

    color: #fff;
    background: $primary;

    &:hover {
      background: $primary-dark;
    }
  }

  &--text {
    @extend .btn;

    color: $primary;

    &:hover {
      background: $gray-light;
    }
  }
}

.title {
  font-size: 4rem;
  font-weight: 900;
  word-break: break-word;

  &--section {
    @extend .title;

    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 2rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 100%;
      margin-left: 1rem;
      background: $gray-light;
    }
  }
}

.paragraph {
  font-size: 1.15rem;
  color: $gray;
}

.highlight {
  color: $primary;
}
