@import "variables";

.container {
  max-width: 962px;
  padding: 0 1rem;
  margin: 0 auto;
}

.link {
  transition: $transition;

  &:hover {
    color: $primary-dark;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  font-weight: 600;
  transition: $transition;

  &Primary {
    @extend .btn;

    color: #fff;
    background: $primary;

    &:hover {
      background: $primary-dark;
    }
  }

  &Text {
    @extend .btn;

    color: $primary;

    &:hover {
      background: $gray-light;
    }
  }
}

.title {
  font-size: 4rem;
  font-weight: 900;
  word-break: break-word;

  &Section {
    @extend .title;

    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    font-size: 2rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 100%;
      margin-left: 1rem;
      background: $gray-light;
    }
  }
}

.imgWrapper {
  position: relative;
  height: fit-content;
  margin: 0 1rem 1rem 0;

  & > img {
    border-radius: $border-radius;

    @media (max-width: $sm) {
      width: 100%;
      height: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: $primary;
  }
}

.text {
  font-size: 1.15rem;
  color: $gray;
}

.highlight {
  color: $primary;
}
