/* colors */
$primary-dark: #0050c7;
$primary: #1c70ed;

$gray: #464858;
$gray-light: #dedede;

/* breakpoints */
$sm: 600px;
$md: 768px;

/* other */
$border-radius: 0.5rem;
$transition: ease-in-out 0.15s;
